:root {
    --numberOfSquares: 64;
    --colorToDraw: lightslategrey;
    --bgColor: #ecbbf3;
    --h1Color:#ac18c2;
    --pColor: #ac18c2;
    --squaresColor: #cc49df;
}

body {
    font-family: 'VT323', monospace;
    padding: 0;
    margin: 0;
    min-width: 100vh;
    background-color: var(--bgColor);
    height: auto;
}

.container-1{
    padding: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

/* typography */

h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    /* margin-bottom: .5em; */
    font-size: 2.5em;
}

button {
    font-size: 1.5em;
    background-color: #f9e8fb;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    /* margin-bottom: 1em; */
    border: none;
}

button:hover {
    background-color: #d976e7;
}

button:active {
    background-color: #861397;
}
.decision {
    margin-bottom: .8em;
}


.container {
    margin-top: 2em 0;
    border: 2.5em solid #d976e7;
    border-radius:20px;
    min-width: 980px;
    min-height: 980px;
    display: grid;
    grid-template-columns: repeat( var(--numberOfSquares), 1fr); 
    grid-template-rows: repeat(var(--numberOfSquares), 1fr);
}


.container-after-change {
    margin: 9em 0;
    margin-top: 0;
    border: 1px solid pink;
    min-width: 980px;
    min-height: 980px;
    display: grid;

        /* 1 fr bo dzieli na równe jednostki */
    grid-template-columns: repeat( var(--numberOfSquares), 1fr); 
    grid-template-rows: repeat(var(--numberOfSquares), 1fr);
}


.container div {
    border: 1px solid #861397;
}

.pixel {
    background-color: var(--colorToDraw);
}


.options {
    display: flex;
    gap: 25em;
}

.btn, .color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.remove{
    margin: 0;
}

label,.remove {
    font-size: 2em;
}
/* .square {
    border: 1px solid rgb(161, 22, 106);
} */