:root {
    --numberOfSquares: 64;
    --colorToDraw: lightslategrey;
}

body {
    padding: 0;
    margin: 0;
    min-width: 100vh;
    background-color: hsl(352, 45%, 87%);
    height: auto;
}

.container-1{
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

/* typography */

h1 {
    font-size: 5em;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: .5em;
    font-size: 2em;
}

button {
    font-size: 2em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0;
}

.container {
    margin-top: 0;
    margin-bottom: 2em;
    border: 1px solid pink;
    min-width: 980px;
    min-height: 980px;
    display: grid;
    grid-template-columns: repeat( var(--numberOfSquares), 1fr); 
    grid-template-rows: repeat(var(--numberOfSquares), 1fr);
}


.container-after-change {
    margin: 9em 0;
    margin-top: 0;
    border: 1px solid pink;
    min-width: 980px;
    min-height: 980px;
    display: grid;

        /* 1 fr bo dzieli na równe jednostki */
    grid-template-columns: repeat( var(--numberOfSquares), 1fr); 
    grid-template-rows: repeat(var(--numberOfSquares), 1fr);
}


.container div {
    border: 1px solid rgb(161, 22, 106);
}

.pixel {
    background-color: var(--colorToDraw);
}

.color-picker {
    border: 1px solid black;
}

.options {
    border: 1px solid black;
    display: flex;
    gap: 25em;
}

.btn, .color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.remove{
    margin: 0;
}

label,.remove {
    font-size: 1.5em;
}
/* .square {
    border: 1px solid rgb(161, 22, 106);
} */